body{
    /* background: url("backgroundImg.jpg") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; */
    background-color: blue;
  }
  